html {
    font-size: 62.5%;
    font-family: 'Roboto Mono';
}
.links {
    width: 100%;
    text-align: center;
}
.links a {
    text-align: center;
    width: 20%;
    font-size: 1.6rem;
    display: inline-block;
    margin: 0 3%;
    border-radius: 1rem;
    padding: .5rem;
}
.plan {
    background-color:#FF764E;
}
.learn {
    background-color:#5ED3EB;
}
.get {
    background-color:#FFCD69;
}

/* Image and title container */
.info-container {
    text-align: center;
}
.header-image {
    display: inline-block;
    width: 20%;
    margin: 5%;
}

.header-image img {
    border-radius: 10rem;
}
.title-container {
    text-align: center;
    display: inline-block;
    margin: 5%;
}
h1 {
    font-family: 'Chelsea Market';
    font-size: 3.2rem;
    padding: 2.5rem;
}
.subtitle {
    padding: 2rem;
}
.subtitle2 {
    padding: 2rem;
    max-width: 55%;
    margin-left: 22.5%;
}